<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10">
      <table class="table table-striped">
        <thead>
          <caption class="title">Usuarios creados</caption>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Usuario</th>
            <th scope="col">Documento</th>
            <th scope="col">Compañia de seguro</th>
            <th scope="col">Tipo de afiliacion de usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              {{user.name}} {{user.lastName}}
            </td>
            <td>{{user.numberDocument}}</td>
            <td>{{user.healtyCompany}}</td>
            <td>{{user.typeAffiliate}}</td>
          </tr>
        </tbody>
      </table>
      <div class="mt-5">
        <button class="btn" (click)="createUserModal()">Crear nuevo Usuario</button>
      </div>
    </div>
  </div>
</div>
