<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped">
        <caption>Tabla de Categorias Medicas</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Categoria</th>
            <th scope="col">Valor en $ consulta</th>
          </tr>
        </thead>
        <tbody>
          <ng-template *ngFor="let category of medicalCategories; index as i">
            <tr>
              <th scope="row">{{ i + 1 }}</th>
              <td>
                {{category.categoryMedicalName}}
              </td>
              <td>{{category.priceCategory | currency:"COP":"$"}}</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
      <div class="mt-5">
        <button class="btn mt-5" (click)="open()">Crear nueva categoria</button>
      </div>
    </div>
  </div>
</div>
