<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped">
        <caption>Tabla de descuentos y cargos</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Categoria</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Valor en $</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let charge of charges; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{charge.type}} </td>
            <td>{{charge.name}} </td>
            <td>{{charge.percent | percent}}</td>
          </tr>
        </tbody>
      </table>
      <button class="btn mt-3" (click)="createCharge()">Crear nuevo cargo</button>
    </div>
  </div>
</div>
