<div id="sidebar-container" class="bg-primary">
  <div class="logo">
    <h4 class="text-light font-weight-bold mb-0">Dashboard Clinica Ceiba</h4>
  </div>
  <div class="menu">
    <a routerLink="/dashboard/panel-control" class="d-block text-light p-3 border-0"><i class="iconoir-dashboard-speed"></i>
      Dashboard</a>

    <a routerLink="/dashboard/users" class="d-block text-light p-3 border-0"><i class="iconoir-group"></i>
      Usuarios</a>

    <a routerLink="/dashboard/statistics" class="d-block text-light p-3 border-0"><i class="iconoir-archery"></i>
      Estadísticas</a>
    <a routerLink="/dashboard/profile" class="d-block text-light p-3 border-0"><i class="iconoir-profile-circled"></i>
      Perfil</a>
    <a routerLink="/dashboard/settings" class="d-block text-light p-3 border-0"> <i class="iconoir-settings"></i>
      Configuración</a>
  </div>
</div>
