<div class="sidebar">
  <span class="logo">S</span>
  <a class="logo-expand" href="#">Ceiba Clinic</a>
  <div class="side-wrapper">
    <div class="side-title">MENU</div>
    <div class="side-menu">
      <ul *ngFor="let item of menu" class="link-hover">
        <a
        [routerLink]="item.url"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
          <i [class]="item.icono" class="mr-3 icon-white"></i>
          <p>{{item.title}}</p>
        </a>
      </ul>
    </div>
  </div>
</div>
