<div class=" col-12 p-5">
  <form [formGroup]="createMedicalCategoryForm" (ngSubmit)="createMedicalCategory()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nombre de la categoria medica</label>
      <input type="text" class="form-control" formControlName="categoryMedicalName">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Valor de consulta</label>
      <input type="number" class="form-control" formControlName="priceCategory">
    </div>
    <button type="submit" class="btn" (click)="activeModal.close('Close click')">Crear Categoria</button>
  </form>
</div>
